<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.shop.manage.mapper.CarInfoMapper">
    <resultMap id="CarSeries" type="com.cs.shop.bean.CarSeries">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="brand_id" jdbcType="INTEGER" property="brandId"/>
    </resultMap>

    <select id="selectSeriesList" parameterType="java.util.Map" resultMap="CarSeries">
        select * from car_series where brand_id=#{brandFlags}
    </select>
</mapper>